body{
    margin:0px;
    height: 100vh;
}

p{
    font-size: 2vw;
}

h1{
	text-align: center;
	font-size: 3vw;
}

.nav{
	width: 100%;
	padding:0;
	list-style-type:none;
	background-color:lightblue;
	overflow: hidden;
   }
  
.navl{
    float:left;
	font-size: 2vw;
	width:20%;
  }

.navl a{
	display:block;
	color:black;
	text-align:center;
	padding:14px; 
	text-decoration:none;
    }

nav a:hover:not(.active){
		background-color:white;
	}

.logo{
	background-color:white;
	margin:0px;
	padding:10px 20px 10px;
	position:absolute;
	top:0px;
	max-width:5%;
}

marquee{
	font-size:2vw;
	font-family: 'Times New Roman', Times, serif;
}

.content{
	background-color:#eeecec;
}

.learn{
	display: flex;
	flex-wrap: wrap;
	padding:150px;
	padding-top: 0px;
	padding-bottom: 20px;
	justify-content: center;
}

.learn ul{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.learn li{
	display: flex;
}


.js{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.jsi{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.jsl{
	width: 150px;
	display: flex;
	border-left: 1px solid gray;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;

}

.java{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.javai{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.javal{
	display: flex;
	border-left: 1px solid gray ;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}

.cs{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.csi{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.csl{
	display: flex;
	border-left: 1px solid gray ;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
	background-color: white;
}


.cpp{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.cppi{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.cppl{
	display: flex;
	border-left: 1px solid gray ;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}

.pyt{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.pyti{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.pytl{
	display: flex;
	border-left: 1px solid gray ;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}

.php{
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 20px;
	margin:10px;
	background-color: white;
}

.phpi{
	display: flex;
	justify-content: center;
    align-items: center;
	width:300px;
	height:300px;	
}

.phpl{
	display: flex;
	border-left: 1px solid gray ;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}

.foot{
	background-color: black;
    width: 100%;
	display:grid;
	color:lightgray;
	grid-template-rows: max-content;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
	font-size: 1vw;
	align-content: center;
	padding-left: 12% ;		
}

.Box1{
    background-color:black;
    grid-column: 1;
}

 .Box2{
    background-color:black;
    grid-column: 2;
}

.Box3{
    background-color:black;
    grid-column: 3;
}

.Box4{
    background-color:black;
    grid-column: 4;
}

.Box5{
    background-color:black;
    grid-column: 5;
}

.socials{
    background-color:black;  
}

.socials-logos{
    display: flex;
}

@media only screen and (min-width: 850px) {
    /* styles for browsers larger than 850px; */
}


