body{
    margin:0px;
    height: 100vh;
}

p{
    font-size: 2vw;
}

h1{
	text-align: center;
	font-size: 3vw;
}

ul{
	width: 100%;
	padding:0;
	list-style-type:none;
	background-color:lightblue;
	overflow: hidden;

   }
  
  li{
    float:left;
	font-size: 2vw;
	width:20%;
  }

li a{
	display:block;
	color:black;
	text-align:center;
	padding:14px; 
	text-decoration:none;
    }

li a:hover:not(.active){
		background-color:white;
	}

.logo{
	background-color:white;
	margin:0px;
	padding:10px 20px 10px;
	position:absolute;
	top:0px;
	max-width:5%;
}

marquee{
	font-size:2vw;
	font-family: 'Times New Roman', Times, serif;
}

content{
	background-color: #d2d0d0;
	min-height: 70vh;
}

h2{
	color: darkblue;
	font-size: 30px;
}

.foot{
	margin-top: 0px !important;
}

.info{
	padding: 50px;
	min-height: 300px;
	background-color: rgb(231, 231, 231);
}
.multi-image-wrapper{
	padding-left: 100px;
	padding-right: 100px;
	height:400px;
	margin-bottom: 350px;
	
}
.img-top-left{	
	
	z-index: +500;
	margin-top: -250px;
	margin-left: 40%;
	border-radius: 25px;
}
.words-top-right{
	background-color: lightblue;
	padding: 30px;
	position: relative;
	z-index: -13;
	max-height: 500px;
	border-radius: 25px;
	width: 50%;
	height: 500px;
	
}
.words-bottom-left{
	border-radius: 25px;
	height: 400px;
	background-color: lightblue;
	padding: 30px;
	width: 50%;
	z-index: +500;
}
.img-bottom-right{
	max-height: 500px;
	position: relative;
	z-index: -13;
	margin-top: -350px;
	margin-left: 40%;
	border-radius: 25px;

}

.foot{
	background-color: black;
    width: 100%;
	margin:500px auto;
	display:grid;
	color:lightgray;
	grid-template-rows: max-content;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
	font-size: 1vw;
	align-content: center;
	padding-left: 12% ;	
	
}
.Box1{
    background-color:black;
    grid-column: 1;

    }
 .Box2{
    background-color:black;
    grid-column: 2;
   
   
    }
.Box3{
    background-color:black;
    grid-column: 3;
   
    
    }
.Box4{
    background-color:black;
    grid-column: 4;
   
    }
.Box5{
    background-color:black;
    grid-column: 5;
    
    }
.socials{
    background-color:black;
   
}
.socials-logos{
    display: flex;
}

@media only screen and (min-width: 850px) {
    /* styles for browsers larger than 850px; */
}


