body{
    margin:0px;
    height: 100vh;
}

p{
    font-size: 2vw;
}

h1{
	text-align: center;
	font-size: 3vw;
}

h2{
	color: darkblue;
	font-size: 35px;
    padding-left: 150px;
    padding-top: 80px;

}

ul{
	width: 100%;
	padding:0;
	list-style-type:none;
	background-color:lightblue;
	overflow: hidden;

   }
  
  li{
    float:left;
	font-size: 2vw;
	width:20%;
  }

li a{
	display:block;
	color:black;
	text-align:center;
	padding:14px; 
	text-decoration:none;
    }

li a:hover:not(.active){
		background-color:white;
	}

.logo{
	background-color:white;
	margin:0px;
	padding:10px 20px 0px;
	position:absolute;
	top:0px;
	max-width:5%;
}

marquee{
	font-size:2vw;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 200px;
}

.content{
	background-color: rgb(231, 231, 231);
	min-height: 57vh;
}

.info{
	padding: 150px;
	min-height: 300px;
	background-color: rgb(231, 231, 231);
	padding-top: 0px;
    font-size: 25px;
}


.foot{
	background-color: black;
    width: 100%;
	display:grid;
	color:lightgray;
	grid-template-rows: max-content;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
	font-size: 1vw;
	align-content: center;
	padding-left: 12% ;	
	
}
.Box1{
    background-color:black;
    grid-column: 1;

    }
 .Box2{
    background-color:black;
    grid-column: 2;
   
   
    }
.Box3{
    background-color:black;
    grid-column: 3;
   
    
    }
.Box4{
    background-color:black;
    grid-column: 4;
   
    }
.Box5{
    background-color:black;
    grid-column: 5;
    
    }
.socials{
    background-color:black;
   
}
.socials-logos{
    display: flex;
}

@media (min-width:320px) { 
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	.logo > img {
		width: 200px;
		height: auto;
	}
}

@media (min-width:801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.logo > img {
		width: 150px;
		height: auto;
	}
}
@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */

	.logo > img {
		width: 180px;
		height: auto;
	}
}


